%customers{:total => @customers.total_entries, :offset => @customers.offset, :size => @customers.entries.size}
	- @customers.each do |cust|
		= render :partial => 'banks/customer', :locals => {:cust => cust}