.doc
	%h1 მარშრუტები
	%p
		ეს არის telasi.ge-ში მოქმედი მარშრუტების ფუნქციონალური სქემის აღწერილობა.
	%h2 რა არის მარშრუტი?
	%p
		მარშუტის დანიშნულებაა განსაზღვროს შესაბამისობა მისამართსა და მოქმედებას
		შორის; ასევე პირიქით &mdash; მოგვცეს ამა თუ იმ მოქმედების მისამართი.
	%h2 მისამართი
	%p
		მისამართი ორ-კომპონენტიანი სიდიდეა.
	%p
		პირველ კომპონენტი წარმოადგენს მისამართის დანიშნულებას.
		დანიშნულება შესაძლოა შემდეგი ოთხი სიდიდით განისაზღვროს:
		<code>GET</code>, <code>POST</code>, <code>PUT</code> და
		<code>DELETE</code>.
	%p
		მეორე კომპონენტს წარმოადგენს მისამართის კონკრეტიზაცია,
		რომელიც ტექსტური სიდიდეა და შესაძლოა იყოს მოცემული შემდეგი ტიპის
		ტექსტებით: <code>/bank/customer</code>, <code>/bs/accounts/</code>
		და ა.შ.
	%h2 მისამართების ხე
	%p
		ჩვენი მისამართების ხე შინაარსით წააგავს იმას, რასაც
		#{link_to 'Rails', 'http://rubyonrails.org'}-ში როუტინგს
		უწოდებენ, თუმცა ჩვენს შემთხვევაში ამას უფრო მეტი სტრუქტურა
		აქვს მიცემული.