.timespamps
	შექმნილია: <span class="created">#{model.created_at.strftime('%b %d, %Y %H:%M (%Z)')}</span>
	ბოლოს შეცვლილია: <span class="updated">#{model.updated_at.strftime('%b %d, %Y %H:%M (%Z)')}</span>